CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json   
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.idea
build
.cache
cmake-build-release
.vscode/settings.json
.cmake/
boreal.dir/
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
Boreal.sln
boreal.vcxproj
boreal.vcxproj.filters
boreal.sln
CPackConfig.cmake
CPackSourceConfig.cmake
INSTALL.vcxproj
INSTALL.vcxproj.filters
PACKAGE.vcxproj
PACKAGE.vcxproj.filters
Release/
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
cmake-build-debug/build.ninja